/*.container {
    padding: 20px 30px;
    background-color: #111;
    border-radius: 10px;
    text-align: center;
}*/

    .container .item1 .container2 .star {
    display: flex; 
    justify-content: center;
    grid-gap: 20px;
    }

    .container .item1 .container2 .star a {
    color: #dcdcdc;
    font-size: 40px;
    }